<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>

  <meta name="description" content="{{ page.description }}">
  <meta name="author" content="Add Your Name/Surname">

  <meta property="og:title" content="{{ page.title }}">
  
  <meta property="og:description" content="{{ page.description }}">
  
  {% if page.image %}
    <meta property="og:image" content="{{ page.image | absolute_url }}">
  {% endif %}
  
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="{{ site.title | default: page.title }}">

  <link rel="stylesheet" href="https://unpkg.com/@primer/css@^20.0.0/dist/primer.css" fetchpriority="high">
</head>
<body class="markdown-body container-lg mx-auto my-5 p-3">

{{ content }}

</body>
</html>
